       body {
            background-color: #f8f8f8;
            color: black;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            padding-top: 100px; /* Further adjusted padding-top to move content down */
            display: flex;
            justify-content: center;
            align-items: flex-start; /* Adjusted to flex-start to allow scrolling */
            min-height: 100vh; /* Adjusted to min-height to avoid cutoff */
        }

        .container {
            background-color: white;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            width: 100%;
        }

        .about {
            margin-bottom: 20px;
            display: flex;
            align-items: flex-start;
        }

        .about-content {
            max-width: 100%;
        }

        .about-content h1 {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .about-content p {
            font-size: 1em;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .source {
            font-size: 0.8em;
            font-style: italic;
            text-align: right;
        }

        .stats {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .stats .stat {
            text-align: center;
            margin: 10px;
            flex: 1 1 45%;
        }

        .stats .stat h2 {
            font-size: 2.5em;
            margin: 0;
            font-weight: bold;
        }

        .stats .stat p {
            font-size: 1em;
            margin: 5px 0 0;
        }

        .chart-title {
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .chart-container {
            position: relative;
            height: 300px;
            width: 100%;
            margin-left: 20px;
        }

        .attachments {
            margin-top: 20px;
        }

        .attachments table {
            width: 100%;
            border-collapse: collapse;
        }

        .attachments th, .attachments td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .attachments th {
            background-color: #f2f2f2;
        }

        .attachments td a {
            text-decoration: none;
            color: #007BFF;
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #007BFF;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .attachments td a:hover {
            background-color: #007BFF;
            color: white;
        }

        .additional-info {
            margin-top: 10px;
            font-size: 0.9em;
            font-style: italic;
        }

        .additional-info p {
            margin-bottom: 10px;
        }







        

/*Nav Bar*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color:  #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}









nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }
  nav.open .sidebar {
    left: 0;
  }
  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
  }
  .sidebar-content .list {
    list-style: none;
  }
  .list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
  }
  .lists .nav-link:hover {
    background-color: #4070f4;
  }
  .nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
  }
  .nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
  }
  .lists .nav-link:hover .icon,
  .lists .nav-link:hover .link {
    color: #fff;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
  }
  nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
  }
 
  





  

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;
  background: #e3f2fd;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}







.dropdown-menu {
    display: none;
    background-color: #333;
    position: absolute;
    z-index: 1;
    
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  

  




  

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .nav-link.dropdown-toggle:hover .dropdown-menu {
    display: block;
  }
  
  /* Centering the links */
  .lists {
    text-align: center;
  }
  
  /* Making the links white */
  .nav-link {
    color: rgb(0, 0, 0);
  }
  
  /* Styling for the dropdown menu */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .nav-link.dropdown-toggle:hover .dropdown-menu {
    display: block;
  }
  .dropdown-icon {
    margin-left: 5px; /* Adjust the spacing between the text and the icon */
  }
  
  